# Gradle
.gradle/
build/
out/
classes/

# IDE
*.launch
.idea/
*.iml
*.ipr
*.iws
.settings/
.vscode/
bin/
.classpath
.project

# macOS
*.DS_Store

# Fabric, Minecraft & Minepkg
run/
minecraft/
.minepkg-lock.toml
